<!DOCTYPE html >
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Daniel Esparza | Aspiring Software Developer | Security Professional</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/app.css" type="text/css">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body class="h-100">
    <div class="container-fluid h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <!-- TODO: Look into fixing the mobile dislay for the columns -->
            <div class="col-10 col-md-8 col-lg-6">
                <div class="">

                    <h1><b>Howdy, I'm Daniel. </b></h1>
                    <p>An aspiring software dev who — </p>
                    <p class="profileText">
                        <span id="chevron" class="text-muted">> </span>
                        <% if(ghData.githubLabel != "none"){ %>
                            <%= ghData.githubLabel %> <a class="profileAnchor" href="https://github.com/<%=ghData.repo%>"> <%= ghData.repo %> </a>
                            <!-- on <%= ghData.date %> -->
                        <% }else{ %>
                            contributing to <a class="profileAnchor" href="https://github.com/d-Esparza19/desp"> d-Esparza19/desp </a>
                        <%}%>
                    </p>

                    <p class="profileText">
                        <span id="chevron" class="text-muted">> </span>
                        commented on <a class="profileAnchor" href="<%=rData.link_permalink%>"><%= rData.link_title.substring(0,20) %> </a> as user DaesDev
                       
                    </p>
                    
                    <p>I am currently a Cybersecurity Professional at <b>PwC</b>.</p>

                    <a href="https://github.com/d-Esparza19" role="button" class="btn btn-secondary btn-customized"> Github</a>

                    <a href="mailto:esparzaldaniel19@gmail.com"  role="button" class="btn btn-outline-danger btn-customized-inverted">Contact Me</a>
                    
                </div>
                
            </div>
        </div>
    </div>

<!-- <script type="text/javascript" src="../public/scripts.js"></script> -->

</body>
</html>
